html, body {
    height: 100%;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-image: url("/hide-and-seek-master/resources/css/home_header_bg3.jpg");
}

body {
    margin: 0;
    display: flex;   
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-image: url("/hide-and-seek-master/resources/css/home_header_bg3.jpg");
    
}

canvas {
    width: 95%;
    height: 95%;
    background-image: url("/hide-and-seek-master/resources/css/home_header_bg3.jpg");
    }